@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.article-card {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 291px;
    position: relative;

    .article-label {
        @include d-flex-center;
        position: absolute;
        top: 10px;
        right: 10px;
        background: white;
        border-radius: 5px;
        font-size: 11px;
        color: $light-blue-color;
        padding: 10px 18px;
        z-index: 2;
    }

    .article-image {
        @include background-image(291px, 291px, 5px);
    }

    .article-content {
        height: 224px;
        margin-bottom: 20px;

        .article-title {
            margin-top: 15px;
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.3;
            color: $light-blue-color;
        }

        .article-text {
            font-size: 14px;
            color: $dark-blue-text-color;
            line-height: 1.3;
        }
    }

    .article-link {
        font-size: 16px;
        text-decoration: underline;
        color: $light-blue-color;
    }
}
