@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.article-list {
    margin-top: 80px;
    margin-bottom: 120px;

    .container {
        .title {
            @include head-lora-38;
            margin-bottom: 40px;
        }

        .head {
            @include d-flex-between;
            align-items: baseline;
            gap: 40px;
            margin-bottom: 40px;

            .applied-filters {
                @include d-flex;
                gap: 15px;
                flex-wrap: wrap;

                .applied-filter {
                    border: 2px solid $light-blue-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 8px 20px;
                    font-size: 16px;
                    color: $light-blue-color;
                    @include d-flex;
                    gap: 8px;

                    svg {
                        cursor: pointer;
                    }
                }
            }

            .filter-menu {
                position: relative;

                .filter-menu-head {
                    @include d-flex-between;
                    flex-shrink: 0;
                    box-sizing: border-box;
                    width: 148px;
                    cursor: pointer;
                    padding: 12px 0;

                    svg {
                        transition: 300ms;
                    }
                }

                .filter-menu-body {
                    display: none;
                    position: absolute;
                    right: 0;
                    width: 100%;
                    box-sizing: border-box;
                    z-index: 3;
                    padding: 12px 23px;
                    background-color: white;
                    border-radius: 0 0 5px 5px;
                    color: #BEBEBE;

                    .filter-menu-item {
                        margin-bottom: 14px;
                        cursor: pointer;
                        @include d-flex-between;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &.active {
                            color: $dark-blue-text-color;
                        }

                        &:hover {
                            color: $dark-blue-text-color;
                        }
                    }
                }

                &.open {
                    width: 257px;

                    .filter-menu-head {
                        width: 100%;
                        background: #B9D5FD;
                        border-radius: 5px 5px 0 0;
                        padding: 12px 23px;

                        svg {
                            transform: rotate(180deg);
                            transition: 300ms;
                        }
                    }

                    .filter-menu-body {
                        display: block;
                    }
                }
            }
        }

        .articles {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px 24px;
        }

        .pagination {
            margin-top: 60px;
            @include d-flex-center;
            gap: 40px;

            .pagination-pages {
                @include d-flex;
                gap: 20px;

                .pagination-page {
                    font-size: 20px;
                    color: $dark-blue-text-color;

                    &.active {
                        color: #B9D5FD;
                        cursor: default;
                    }
                }
            }

            .pagination-arrow {
                cursor: pointer;

                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                }
            }
        }
    }
}
