@media screen and (max-width: 1239px) {
    .main .container {
        .reviews {
            padding: 0 60px;
        }

        .carousel .carousel-item {
            background-size: cover;

            .carousel-item-circle {
                background-image: unset !important;
            }

            .carousel-item-label {
                background: white;
                padding: 10px;
                border-radius: 3px;
                width: fit-content;
            }

            .carousel-item-title, .carousel-item-text {
                text-shadow:
                    0 1px 2px rgba(0,0,0,0.95),
                    0 2px 4px rgba(0,0,0,0.85),
                    0 3px 8px rgba(0,0,0,0.7),
                    0 0 25px rgba(0,0,0,0.5);
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .main .container {
        .about {
            justify-content: center;
            flex-wrap: wrap;

            .about-image {
                order: 2;
                flex: 1 0 100%;
            }
        }

        .services {
            .services-items {
                justify-content: space-around;
            }
        }

        .popular-articles {
            .popular-articles-cards {
                justify-content: space-around;
            }
        }

        .contacts {
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .contacts-map {
                order: 2;
                width: 100%;

                iframe {
                    width: 100%;
                }
            }

            .contacts-info {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 659px) {
    .main .container {
        .services .services-items {
            justify-content: center;
        }

        .about .about-content .about-advantages {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 599px) {
    .main .container {
        .carousel .carousel-item {
            height: 400px;

            .carousel-item-circle {
                padding: 40px;
                width: unset;
                justify-content: flex-start;

                .carousel-item-title {
                    font-size: 30px;
                }

                .carousel-item-text {
                    font-size: 20px;
                }
            }
        }

        .reviews {
            padding: 0;

            .reviews-carousel {
                .review-item {
                    width: 300px;

                    .review-body {
                        height: 250px;
                    }
                }

                .carousel-reviews-arrows {
                    position: static;
                    width: 240px;
                    margin: 30px auto 0;

                    .move-backward, .move-forward {
                        position: static;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 424px) {
    .main .container {
        .carousel .carousel-item .carousel-item-circle {
            .carousel-item-label {
                font-size: 14px;
            }

            .carousel-item-title {
                font-size: 20px;
            }

            .carousel-item-text {
                font-size: 14px;
            }
        }

        .about .about-image {
            min-width: unset;
        }
    }
}
