@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
    .container {
        .carousel {
            position: relative;
            margin-bottom: 120px;

            .carousel-item {
                background-position: right;
                //background-size: unset;
                background-repeat: no-repeat;
                height: 500px;

                .carousel-item-circle {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 80px;
                    background-image: url("../../../assets/images/pages/main/circle.png");
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;

                    .carousel-item-label {
                        text-transform: uppercase;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        font-size: 12px;
                        color: $light-blue-color;
                    }

                    .carousel-item-title {
                        max-width: 600px;
                        margin-bottom: 20px;
                        font-family: 'Lora', serif;
                        font-weight: 400;
                        font-size: 50px;
                        color: white;
                        line-height: 1.3;
                    }

                    .carousel-item-text {
                        max-width: 460px;
                        padding-bottom: 30px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 1.3;
                        color: white;
                    }

                    .button {
                        width: 163px;
                        margin-top: 20px;
                    }
                }
            }

            .carousel-arrows {
                @include d-flex-between;
                position: absolute;
                top: calc(50%);
                z-index: 2;
                font-size: 0;
                width: 100%;

                .move-backward {
                    left: 10px;
                    position: absolute;
                }

                .move-forward {
                    right: 10px;
                    position: absolute;
                }
            }
        }

        .services {
            margin-bottom: 120px;

            .services-title {
                @include head-lora-38;
                margin-bottom: 40px;
            }

            .services-items {
                @include d-flex-between;
                gap: 26px;

                .service-item {
                    width: 290px;
                    font-family: 'Montserrat', sans-serif;

                    .service-item-image {
                        border-radius: 5px;
                        margin-bottom: 15px;

                        img {
                            width: 100%;
                        }
                    }

                    .service-item-title {
                        font-weight: 500;
                        font-size: 20px;
                        color: $light-blue-color;
                        margin-bottom: 10px;
                    }

                    .service-item-text {
                        height: 90px;
                        margin-bottom: 15px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.3;
                        color: $dark-blue-text-color;
                    }

                    .service-item-footer {
                        @include d-flex-between;

                        .service-item-price {
                            font-weight: 600;
                            font-size: 20px;
                            color: $light-blue-color;
                        }

                        .button {
                            width: 163px;
                        }
                    }
                }
            }
        }

        .about {
            margin-bottom: 120px;
            @include d-flex-between;

            .about-image img {
                width: 100%;
            }

            .about-content {
                max-width: 710px;

                .about-title {
                    @include head-lora-38;
                    margin-bottom: 20px;
                }

                .about-text {
                    font-size: 14px;
                    line-height: 1.3;
                    margin-bottom: 40px;

                    span {
                        font-weight: 500;
                    }
                }

                .about-advantages-title {
                    font-family: 'Lora', serif;
                    font-weight: 400;
                    font-size: 26px;
                    color: $light-blue-color;
                    margin-bottom: 20px;
                }

                .about-advantages {
                    @include d-flex-between;
                    flex-wrap: wrap;
                    row-gap: 20px;

                    .about-advantage {
                        width: 310px;
                        @include d-flex-between;
                        gap: 20px;

                        .about-advantage-number {
                            //@include d-flex-center;
                            display: flex;
                            justify-content: center;
                            flex-shrink: 0;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: #B9D5FD;
                            font-family: 'Lora', serif;
                            font-weight: 500;
                            font-size: 50px;
                            color: $light-blue-color;
                            line-height: 0.5;
                        }

                        .about-advantage-text {
                            font-size: 14px;
                            line-height: 1.3;

                            span {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}
