@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
    .container {
        .carousel {
            position: relative;
            margin-bottom: 120px;

            .carousel-item {
                background-position: right;
                background-repeat: no-repeat;
                height: 500px;

                .carousel-item-circle {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 80px;
                    background-image: url("../../../assets/images/pages/main/banner/circle.png");
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;

                    .carousel-item-label {
                        text-transform: uppercase;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        font-size: 12px;
                        color: $blue-color;
                    }

                    .carousel-item-title {
                        max-width: 600px;
                        margin-bottom: 20px;
                        font-family: 'Lora', serif;
                        font-weight: 400;
                        font-size: 50px;
                        color: white;
                        line-height: 1.3;
                    }

                    .carousel-item-text {
                        max-width: 460px;
                        padding-bottom: 30px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 1.3;
                        color: white;
                    }

                    .button {
                        width: 163px;
                        margin-top: 20px;
                    }
                }
            }

            .carousel-arrows {
                @include d-flex-between;
                position: absolute;
                top: calc(50%);
                z-index: 2;
                font-size: 0;
                width: 100%;

                .move-backward {
                    left: 10px;
                    position: absolute;
                }

                .move-forward {
                    right: 10px;
                    position: absolute;
                }
            }
        }

        .services {
            margin-bottom: 120px;

            .services-title {
                @include head-lora-38;
                margin-bottom: 40px;
            }

            .services-items {
                @include d-flex-between;
                flex-wrap: wrap;
                gap: 26px;

                .service-item {
                    width: 290px;
                    font-family: 'Montserrat', sans-serif;

                    .service-item-image {
                        border-radius: 5px;
                        margin-bottom: 15px;

                        img {
                            width: 100%;
                        }
                    }

                    .service-item-title {
                        font-weight: 500;
                        font-size: 20px;
                        color: $blue-color;
                        margin-bottom: 10px;
                    }

                    .service-item-text {
                        height: 90px;
                        margin-bottom: 15px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.3;
                        color: $dark-blue-color;
                    }

                    .service-item-footer {
                        @include d-flex-between;

                        .service-item-price {
                            font-weight: 600;
                            font-size: 20px;
                            color: $blue-color;
                        }

                        .button {
                            width: 163px;
                        }
                    }
                }
            }
        }

        .about {
            margin-bottom: 120px;
            @include d-flex-between;
            gap: 20px;

            .about-image {
                min-width: 300px;

                img {
                    width: 100%;
                }
            }

            .about-content {
                max-width: 710px;

                .about-title {
                    @include head-lora-38;
                    margin-bottom: 20px;
                }

                .about-text {
                    font-size: 14px;
                    line-height: 1.3;
                    margin-bottom: 40px;

                    span {
                        font-weight: 500;
                    }
                }

                .about-advantages-title {
                    font-family: 'Lora', serif;
                    font-weight: 400;
                    font-size: 26px;
                    color: $blue-color;
                    margin-bottom: 20px;
                }

                .about-advantages {
                    @include d-flex-between;
                    flex-wrap: wrap;
                    row-gap: 20px;

                    .about-advantage {
                        width: 310px;
                        @include d-flex-between;
                        gap: 20px;

                        .about-advantage-number {
                            display: flex;
                            justify-content: center;
                            flex-shrink: 0;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: $light-blue-color;
                            font-family: 'Lora', serif;
                            font-weight: 500;
                            font-size: 50px;
                            color: $blue-color;
                            line-height: 0.5;
                        }

                        .about-advantage-text {
                            font-size: 14px;
                            line-height: 1.3;

                            span {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .popular-articles {
            margin-bottom: 120px;

            .popular-articles-title {
                @include head-lora-38;
                margin-bottom: 40px;
            }

            .popular-articles-cards {
                margin-bottom: 40px;
                @include d-flex-between;
                flex-wrap: wrap;
                gap: 24px;
            }

            .popular-articles-link {
                @include d-flex;
                justify-content: flex-end;

                span {
                    font-weight: 500;
                    font-size: 20px;
                    color: $blue-color;
                }

                svg {
                    margin-left: 14px;
                }
            }
        }

        .reviews {
            margin-bottom: 120px;

            .reviews-title {
                @include head-lora-38;
                margin-bottom: 20px;
            }

            .reviews-carousel {
                position: relative;

                .review-item {
                    width: 396px;
                    padding: 30px;
                    border: 2px solid $blue-color;
                    box-sizing: border-box;
                    border-radius: 5px;

                    .review-head {
                        @include d-flex;
                        gap: 26px;
                        margin-bottom: 15px;

                        .review-image {
                            @include background-image(60px, 60px, 50%)
                        }

                        .review-name {
                            font-weight: 600;
                            font-size: 18px;
                            color: $blue-color;
                        }
                    }

                    .review-body {
                        height: 132px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.4;
                        color: $dark-blue-color;
                    }
                }

                .carousel-reviews-arrows {
                    @include d-flex-between;
                    position: absolute;
                    top: calc(50%);
                    font-size: 0;
                    width: 100%;

                    .move-backward {
                        left: -25px;
                        position: absolute;
                    }

                    .move-forward {
                        right: -25px;
                        position: absolute;
                    }
                }
            }
        }

        .contacts {
            margin-bottom: 120px;
            display: flex;

            .contacts-info {
                margin-left: 26px;

                .contacts-title {
                    @include head-lora-38;
                    margin-bottom: 20px;
                }

                .contacts-items {
                    max-width: 500px;

                    .contacts-item {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .contacts-item-head {
                            font-weight: 500;
                            font-size: 20px;
                            color: $blue-color;
                            margin-bottom: 10px;
                        }

                        .contacts-item-body {
                            font-weight: 400;
                            font-size: 14px;
                            color: $dark-blue-color;
                            line-height: 1.3;
                            @include d-flex;
                            gap: 20px;

                            svg {
                                fill: $light-blue-color;

                                &:hover {
                                    fill: $blue-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
