@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
    .container {
        .carousel {
            position: relative;
            margin-bottom: 120px;

            .carousel-item {
                background-position: right;
                //background-size: unset;
                background-repeat: no-repeat;
                height: 500px;

                .carousel-item-circle {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 80px;
                    background-image: url("../../../assets/images/pages/main/circle.png");
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;

                    .carousel-item-label {
                        text-transform: uppercase;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        font-size: 12px;
                        color: $light-blue-color;
                    }

                    .carousel-item-title {
                        max-width: 600px;
                        margin-bottom: 20px;
                        font-family: 'Lora', sans-serif;
                        font-weight: 400;
                        font-size: 50px;
                        color: white;
                        line-height: 1.3;
                    }

                    .carousel-item-text {
                        max-width: 460px;
                        padding-bottom: 30px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 1.3;
                        color: white;
                    }

                    .button {
                        width: 163px;
                        margin-top: 20px;
                    }
                }
            }

            .carousel-arrows {
                @include d-flex-between;
                position: absolute;
                top: calc(50%);
                z-index: 2;
                font-size: 0;
                width: 100%;

                .move-backward {
                    left: 10px;
                    position: absolute;
                }

                .move-forward {
                    right: 10px;
                    position: absolute;
                }
            }
        }
    }
}
