@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.article-detail {
    margin-top: 80px;
    margin-bottom: 120px;

    .bread-crumbs {
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 16px;
        color: #B9D5FD;

        span:last-child {
            color: $light-blue-color;
        }
    }

    .title-block {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 607px 1fr;
        column-gap: 106px;
        row-gap: 40px;
        grid-template-areas:
            "title image"
            "description image";

        .title-block-title {
            grid-area: title;
            @include head-lora-38;
            line-height: 1.3;
        }

        .title-block-description {
            grid-area: description;
            font-size: 20px;
            line-height: 1.3;
            color: $light-blue-color;
        }

        .title-block-image {
            grid-area: image;
            @include background-image(527px, 320px, 5px);
        }
    }

    .article-content {
        //.article-text in _global.scss
        display: flex;
        gap: 130px;
        margin-bottom: 60px;

        .article-aside {
            .article-aside-title {
                padding-top: 60px;
                margin-bottom: 20px;
                @include head-lora-32;
                font-size: 26px;
            }

            .article-aside-cards {
                display: flex;
                flex-direction: column;
                gap: 60px;
            }
        }
    }

    .share {
        font-weight: 500;
        font-size: 14px;
        @include d-flex;
        gap: 13px;
        color: $light-blue-color;

        span {
            margin-right: 7px;
        }
    }

    .comments-block {
        margin-top: 60px;

        .comments-title {
            @include head-lora-38;
        }

        .comments-notification {
            margin-top: 20px;
            color: $dark-blue-text-color;
            font-size: 14px;

            a {
                color: $light-blue-color;
            }
        }

        .comments-new-comment {
            display: flex;
            flex-direction: column;

            textarea {
                margin-top: 40px;
                margin-bottom: 20px;
                width: 818px;
                height: 248px;
            }

            .button {
                width: 422px;
            }
        }

        .comments-items {
            padding-top: 20px;
            max-width: 854px;
        }

        .comments-more {
            margin-top: 60px;
            cursor: pointer;
            @include d-flex;
            gap: 10px;
            border-bottom: 1px solid transparent;
            width: fit-content;

            &:hover {
                border-color: $light-blue-color;
            }

            span {
                font-weight: 500;
                font-size: 20px;
                color: $light-blue-color;
            }
        }
    }
}
