@import "../../../../assets/styles/auth-form";
@import "../../../../assets/styles/mixins";

.modal-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    @include d-flex-center;

    .modal {
        @include d-flex-center;
        width: 727px;
        height: 489px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        text-align: center;

        .close-modal {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
        }

        .auth-form {
            padding: 0 50px;

            .auth-title {
                @include head-lora-38;
                margin-bottom: 20px;
            }

            .auth-inputs {
                margin-bottom: 0;
            }

            .auth-link {
                font-weight: 500;
            }

            .auth-button {
                .button.small-button {
                    font-size: 12px;
                    padding: 10px 20px;
                    width: auto;
                }
            }
        }
    }
}
