<section class="signup" [formGroup]="signupForm">
    <div class="container">
        <div class="auth-form">
            <div class="auth-title">Регистрация на сайте</div>

            <div class="auth-inputs">
                <div class="auth-input">
                    <input type="text" class="input" placeholder="Ваше имя" formControlName="name"
                    [ngStyle]="{'border-color': name?.invalid && (name?.dirty || name?.touched) ? 'red' : ''}">
                </div>
                <div class="auth-input">
                    <input type="text" class="input" placeholder="Электронная почта" formControlName="email"
                    [ngStyle]="{'border-color': email?.invalid && (email?.dirty || email?.touched) ? 'red' : ''}">
                </div>
                <div class="auth-input">
                    <input type="password" class="input" placeholder="Пароль" formControlName="password"
                    [ngStyle]="{'border-color': password?.invalid && (password?.dirty || password?.touched) ? 'red' : ''}">
                </div>
                <div class="auth-checkbox">
                    <input type="checkbox" id="agree" formControlName="agree">
                    <label for="agree">Я принимаю <a href="#">условия пользовательского соглашения</a> и даю
                        <a href="#">согласие на обработку персональных данных</a>.</label>
                </div>
            </div>

            <div class="auth-button">
                <button class="button" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрироваться</button>
            </div>

            <div class="auth-link">
                Уже есть аккаунт? <a routerLink="/login">Войдите</a>
            </div>
        </div>


        <div class="page-image">
            <img src="assets/images/pages/auth/signup.png" alt="Drawing">
        </div>
    </div>
</section>
