@import "variables";
@import "mixins";

.auth-form {
    margin-top: 120px;
    margin-bottom: 120px;

    .auth-title {
        @include head-lora-36;
        margin-bottom: 40px;
    }

    .auth-inputs {
        margin-bottom: 40px;

        .auth-input {
            margin-bottom: 5px;

            .input {
                width: 422px;
            }

            &.password-input {
                @include d-flex;
                position: relative;

                svg {
                    position: absolute;
                    right: 10px;
                    width: 56px;
                    height: 56px;
                    padding: 10px;
                    box-sizing: border-box;
                    cursor: pointer;
                    fill: #BEBEBE;

                    &:hover {
                        fill: $light-blue-color;
                    }
                }
            }
        }

        .auth-checkbox {
            max-width: 422px;
            display: flex;
            align-items: baseline;
            padding-top: 5px;

            input {
                margin: 0;
            }

            label {
                font-size: 14px;
                line-height: 130%;
                margin-left: 10px;

                a {
                    color: $light-blue-color;
                    text-decoration: underline;
                }
            }
        }
    }

    .auth-button {
        margin-top: 40px;

        button.button {
            width: 422px;
            font-size: 16px;
        }
    }

    .auth-link {
        margin-top: 10px;
        font-size: 14px;
        color: #1E1A2B;

        a {
            margin-left: 7px;
            color: $light-blue-color;
        }
    }
}
