html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $dark-blue-color;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    &.button {
        display: inline-block;
    }

    &:visited {
        color: inherit;

        &.button {
            color: white;
        }
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

@media screen and (max-width: 1239px) {
    .container {
        padding: 0 20px;
    }
}

.input {
    box-sizing: border-box;
    padding: 17px 20px;
    border: 2px solid $blue-color;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $dark-blue-color;
    outline: none;
}

.button {
    text-align: center;
    padding: 15px;
    background: $blue-color;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid $blue-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;

    &:hover {
        background: white;
        color: $blue-color;

        &.button-in-cart {
            border-color: red;

            span {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: block;
                }
            }
        }
    }

    &:disabled {
        background: gray;
        cursor: not-allowed;
    }
}

.mat-menu-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    a {
        color: #2C2C2C;
        text-decoration: none;
    }
}


//Стили для карусели
.carousel-item-title span {
    color: $blue-color;
}

.owl-carousel .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    .owl-dot {
        span {
            transition: all 0.3s ease;
            opacity: 1;
            border: 1px solid white;
            box-sizing: border-box;
            background: transparent;
        }

        &.active span {
            background: white;
        }
    }
}

.article-text {
    font-size: 14px;
    line-height: 1.3;

    h1 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 28px;
        color: $blue-color;
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 20px;
        color: $blue-color;
    }

    p {
        margin: 0 20px 0 0;

        &:last-child {
            margin: 0;
        }
    }
}


//Snackbar
.mat-snack-bar-container {
    background: $light-blue-color;
    color: $dark-blue-color;

    .mat-button {
        background: $blue-color;
    }

    .mat-simple-snackbar-action {
        color: white;
    }
}
