html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $dark-blue-text-color;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    &.button {
        display: inline-block;
    }

    &:visited {
        color: inherit;

        &.button {
            color: white;
        }
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.input {
    box-sizing: border-box;
    padding: 17px 20px;
    border: 2px solid $light-blue-color;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $dark-blue-text-color;
}

.small-input {
    border: 1px solid #6CAC72;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    width: 40px;
    height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: fuchsia;
}

.button {
    text-align: center;
    padding: 15px;
    background: $light-blue-color;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid $light-blue-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;

    &.button-transparent {
        background-color: transparent;
        border: 1px solid #6CAC72;
        color: fuchsia;
    }

    &.button-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-left: 16px;
        }
    }

    &.button-in-cart span {
        &:first-child {
            display: block;
        }

        &:last-child {
            display: none;
            color: red;
        }
    }

    &:hover {
        background: white;
        color: $light-blue-color;

        &.button-in-cart {
            border-color: red;

            span {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: block;
                }
            }
        }
    }

    &:disabled {
        background: gray;
        cursor: not-allowed;
    }
}

.mat-menu-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    a {
        color: $gray-text-color;
        text-decoration: none;
    }
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .carousel-title {
        @include head-lora-32;
    }

    .carousel-arrows {
        display: flex;
        align-items: center;
        justify-content: center;

        a:first-child {
            margin-right: 30px;
        }
    }
}


//Стили для radio-button
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #2A592E;
    box-sizing: border-box;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #2A592E;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

// Popup
.mat-dialog-container {
    padding: 0 !important;
}

// Loader
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #648F64;
}

//Отсутствие данных
.empty-list {
    margin-top: 20px;
    margin-bottom: 100px;

    div {
        font-size: 16px;
    }

    .button {
        width: 255px;
        margin-top: 10px;
    }
}


//Стили для карусели
.carousel-item-title span {
    color: $light-blue-color;
}

.owl-carousel .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    .owl-dot {
        span {
            transition: all 0.3s ease;
            opacity: 1;
            border: 1px solid white;
            box-sizing: border-box;
            background: transparent;
        }

        &.active span {
            background: white;
        }
    }
}
