@import "variables";

@mixin head-lora-32 {
    font-family: 'Lora', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: $blue-color;
}

@mixin head-lora-36 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    color: $blue-color;
}

@mixin head-lora-38 {
    font-family: 'Lora', serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    color: $blue-color;
}

@mixin d-flex {
    display: flex;
    align-items: center;
}

@mixin d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin d-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin background-image($width, $height, $border-radius: 0) {
    background-position: center;
    background-size: cover;
    width: $width;
    height: $height;
    border-radius: $border-radius;
}

@mixin auth-form {
    margin-top: 120px;
    margin-bottom: 120px;

    .auth-title {
        @include head-lora-36;
        margin-bottom: 40px;
    }

    .auth-inputs {
        margin-bottom: 40px;
        width: 422px;

        .auth-input {
            margin-bottom: 5px;

            .input {
                width: 100%;
            }

            &.password-input {
                @include d-flex;
                position: relative;

                svg {
                    position: absolute;
                    right: 0;
                    width: 56px;
                    height: 56px;
                    padding: 16px;
                    box-sizing: border-box;
                    cursor: pointer;
                    fill: #BEBEBE;

                    &:hover {
                        fill: $blue-color;
                    }
                }
            }
        }

        .auth-checkbox {
            max-width: 422px;
            display: flex;
            align-items: baseline;
            padding-top: 5px;

            input {
                margin: 0;
            }

            label {
                font-size: 14px;
                line-height: 130%;
                margin-left: 10px;

                a {
                    color: $blue-color;
                    text-decoration: underline;
                }
            }
        }
    }

    .button {
        margin-top: 40px;
        width: 422px;
        font-size: 16px;
    }

    .auth-link {
        margin-top: 10px;
        font-size: 14px;
        color: #1E1A2B;

        a {
            margin-left: 7px;
            color: $blue-color;
        }
    }
}
